
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(245,245,220);
background: linear-gradient(357deg, rgba(245,245,220,1) 0%, rgba(241,241,241,1) 100%); 
}
.top {
    width: 100%;
    display: flex;
    justify-content: center;
}
.Header {
    margin-top: 1rem;
    font-size: 8rem;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1rem;
}
.main {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 4rem;
    
}
#spice {
    padding-right: 1rem;
    height: 35rem;
}
#links-cont {
    padding-left: 1rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.recipe-link {
    text-decoration: none;
    color:  #2b88e7 ;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    padding: calc(100% / 6);

}

.recipe-link:hover, .recipe-link:focus {
    color:  #0e67c3 ;
    background-color: rgba(39, 161, 245, 0.12);
}

#las:hover #spice {
    opacity: 0;
}
